doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title NotTwitter
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='author' content='Robert Schaap')
    link(href='/css/normalize.css' rel='stylesheet' type='text/css')
    link(href='/css/stylesheet.css' rel='stylesheet' type='text/css')
    link(rel='icon' type='image/png' href='images/favicon.png' sizes='32x32')

  body
    header(role='heading')
      div.header_top
        div.widthwrapper
          a(href='#')
            img(src='/images/home.svg')
          a(href='#')
            img(src='/images/bell.svg')
          a(href='#')
            img(src='/images/cog.svg')
          a(href='#')
            img(src='/images/search.svg')
          span NotTwitter: Twitter without the Noise

      div
        div.header_banner
        div.header_user
          div.widthwrapper
            img.h_user_avatar(src='/images/aIF6J-S0_bigger.jpg')
            div.h_user_name
              div.h_user_fullname Robert Schaap
              div @colorcodecode
            div.h_user_stat
              div Tweets
              div.h_user_statcount 35
            div.h_user_stat
              div Threads
              div.h_user_statcount 35
            div.h_user_stat
              div Followers
              div.h_user_statcount 35
            div.h_user_stat
              div Following
              div.h_user_statcount 35
    
    block content

    footer(role='contentinfo')

    script(src='https://code.jquery.com/jquery-3.2.1.js')
    script(type='text/javascript', src='/scripts/javascript.js')
